body {
	font-family: monospace;
	background: black;
	color: white;
	font-size: 18px;
}

#searchbar {
	font-size: 24px;
	font-weight: 5px;
}

#footer {
	border: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

/* container of the doc objects */
.documentContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: .25rem;
	margin-top: 1rem;
}

/* doc container in template */
.documentLabel {
	border: 3px solid white;
	background-color: black;
	padding: .5rem;
}

.documentLabel > .title {
	margin-bottom: .25rem;
	font-size: 24px;
	font-weight: 5px;
}

.hide {display: none;}